# example jinja2 
# convert your ordinary config from example myconf.conf to myconf.conf.j2 so
# you can use the ansible vars with a config file
#
#
#https://docs.ansible.com/ansible/latest/collections/ansible/builtin/template_module.html#see-also
